#nav {
    background-color: rgb(126, 34, 1);
}

.nav-link {
    background-color: rgb(126, 34, 1);
}

.nav-item {
    padding: 5px;
}

.page-footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: lightgoldenrodyellow;
    background-color: rgb(126, 34, 1);
}

#title {
    background-color: lightgoldenrodyellow;
}

#content-box {
    background-color: lightgoldenrodyellow;
    padding: 20px 0px 100px 0px;
}

a.navbar-brand {
    font-family: 'Patua One', cursive;
}

h1 {
    font-family: 'Patua One', cursive;
    font-size: 400%;
}

h5 {
    font-family: 'Libre Baskerville', serif;
    font-size: medium;
}

body {
    background-color: lightgoldenrodyellow;
}