#nav {
    background-color: rgb(126, 34, 1);
}

#title {
    background-color: lightgoldenrodyellow;
}

h1 {
    font-family: 'Patua One', cursive;
    font-size: 400%;
}

h5 {
    font-family: 'Libre Baskerville', serif;
    font-size: medium;
}

body {
    background-color: rgb(126, 34, 1);
}