<div class="jumbotron" id="title">
        <div class="row justify-content-center">
          <div class="col-xs-2 text-center">
            <img src="/static/img/svg/pan.svg" height="200px">
          </div>
          <div class="col-xs-8 text-center">
            <h1>{{ title }}</h1>
            <h5>A general purpose kitchen app.</h5>
          </div>
          <div class="col-xs-2 text-center">
            <img src="/static/img/svg/rice.svg" height="200px">
          </div>
        </div>
    
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-3 text-center"><img src="/static/img/svg/cereals.svg"> </div>
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-header"><h3>Why use PantryButler?</h3></div>
              <ul class="list-group">
                <li class="list-group-item">Save recipes and ingredients</li>
                <li class="list-group-item">Create meal plans for the week</li>
                <li class="list-group-item">Create a shopping list based on your meal plan</li>
                <li class="list-group-item">Keep track of food in your kitchen with an inventory</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3 text-center"><img src="/static/img/svg/groceries.svg"></div>
        </div><!-- end row -->
      </div><!-- end container -->